{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">

    (function( $ ) {

        var $container = $('.masonry-container');

        $container.masonry({
            columnWidth: '.grid-item',
            itemSelector: '.grid-item'
        });

        
    })(jQuery);
</script>

<script>
    $(function() {
        $('#loadmore').bind('click', function() {
            $.getJSON( "{{ url_for('main.ajax') }}", {page:$('#loadmore').attr('value'),}, function(data) {

                $('#loadmore').attr('value', parseInt($('#loadmore').attr('value')) + 1);

                // parse JSON
                var re = JSON.parse(data.result)

                for (var i in re) {

                    $('.masonry-container').append('<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 grid-item"><div class="panel panel-default"><div class="panel-heading"><h3 class="panel-title">'+ i + '</h3></div><div class="panel-body">'+re[i]+'</div></div></div>');
                }

            });
        });
        return false;
    });
</script>

{% endblock %}


{% block page_content %}

<div class="page-header">
<h1>山寨版糗事百科</h1>
</div>
{# xs 小屏幕手机 #}
{# sm 大屏幕手机 #}
{# md 中等屏幕电脑 #}
{# lg 大屏幕电脑 #}

<div class="masonry-container">

    {% for instance in content %}


        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 grid-item">

            <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ instance.author }}</h3>
                  </div>

                    <div class="panel-body">
                        {{ instance.content }}
                    </div>
            </div>

        </div>

    {% endfor %}

</div>

<button type="button" class="btn btn-primary" id="loadmore" value="0">加载更多~</button>

{% endblock %}